ul#gallery {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul img {
    display: block;
    height: 250px;
    margin: 10px 10px 10px 10px;
  }
  #validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }
  
  h2.hw {
    color: teal;
  }
  
  div#boxes {
    display: flex;
  }